.clockFace {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.timeContainer, .spinnyBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinnyBox {
  position: absolute;
  width: 60px;
  height: 60px;
  transform-origin: center;
}

.sunrise {
    transform: rotate(0deg) translateX(100px) rotate(-0deg);
}

.solarNoon {
  transform: rotate(0deg) translateX(100px) rotate(-0deg);
}

.midnight {
  transform: rotate(0deg) translateX(100px) rotate(-0deg);
}

.sunset {
  transform: rotate(0deg) translateX(100px) rotate(-0deg);
}

.CircularProgressbar {
  stroke-width: 2px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke-linecap: butt;
}

.CircularProgressbar-path {
  transform: rotate(180deg);
  transform-origin: center center;
}

.CircularProgressbar-text {
  visibility: hidden;
}
