#root {
  background: linear-gradient(-115deg, #24243e, #302b63, #0f0c29);
}

time {
  color: white;
}

.clockFace, .spinnyBox {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.clockFace {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.timeContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinnyBox {
  position: absolute;
  width: 60px;
  height: 60px;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.CircularProgressbar {
  stroke-width: 2px;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #a75149;
  stroke-linecap: butt;
}

.CircularProgressbar-path {
  transform: rotate(180deg);
  transform-origin: center center;
}

.CircularProgressbar-trail {
  stroke: #886d4d;
}

.CircularProgressbar-text {
  visibility: hidden;
}

svg, circle {
  width: 100%;
  height: 100%;
  position: absolute;
}

p {
  z-index: 1;
  color: white;
}
